* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #eeedfd;
  /* display: flex;
  justify-content: center; */
}
#nav-container {
  height: 70px;
  width: 1200px;
  margin: 4.2px 4.2px;
  margin-left: 10%;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
}

#logo img {
  height: 60px;
  opacity: 70%;
}

#nav-links {
  height: 70px;
  width: 60%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  transform: translateX(43.1%);
}

#nav-links a {
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
  color: #9c9c9f;
  font-family: "Montserrat", sans-serif;
}

#nav-links a:hover {
  color: #d5d4d8;
}

#links-holder-button {
  height: 30px;
  width: 30px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

/* this is the content holder for the front viewport on the landing homepage */
/* now i had hide the border for better view but it will be set out when needed */
#content-holder {
  height: 90vh;
  width: 1200px;
  /* border: 2px solid black; */
  margin-left: 10%;
}

#content-holder h2 {
  font-size: 65px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  color: #444444;
  margin-left: 18px;
  transform: translateY(21vh);
}

#iam {
  font-size: 50px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  line-height: 28px;
  color: #999999;
  position: absolute;
  top: 44%;
  left: 175px;
}

.auto {
  font-size: 40px;
  font-weight: 500;
  line-height: 56px;
  font-family: "lato", sans-serif;
  color: rgb(153, 153, 153);
  position: absolute;
  top: 42.8%;
  left: 345px;
}

#readmore-downloadcv {
  height: 60px;
  width: 22%;
  position: absolute;
  top: 54%;
  left: 163px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#readmore-downloadcv a {
  padding: 12px;
  text-decoration: none;
  box-sizing: border-box;
  border-radius: 25px;
}

#read-more-link {
  color: white;
  border: 1px solid black;
  font-size: 15px;
  font-weight: 100;
  font-family: "lato", sans-serif;
  background-color: rgb(68, 68, 68);
}

#download-cv {
  color: black;
  font-size: 15px;
  font-weight: 100;
  font-family: "lato", sans-serif;
  background-color: transparent;
  border: 1px solid black;
  box-sizing: border-box;
}

#read-more-link:hover {
  color: black;
  background-color: transparent;
  border: 1px solid black;
  transition: all ease-in-out 0.4s;
}

#download-cv:hover {
  color: white;
  transition: all ease-in-out 0.4s;
  background-color: rgb(68, 68, 68);
}

span.typed-cursor {
  opacity: 0;
}

#about-me {
  width: 100%;
  height: 65vh;
  background-color: #fff;
  display: flex;

  justify-content: center;
}

#about {
  font-size: 80px;
  line-height: 46px;
  color: rgb(68, 68, 68);
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  opacity: 5.5%;
  margin-top: 65px;
}

#me {
  font-size: 40px;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  color: rgb(68, 68, 68);
  position: absolute;
  margin-top: 60px;
}

#about-intro {
  font-size: 22px;
  font-family: "lato", sans-serif;
  font-weight: 600;
  line-height: 28px;
  color: rgb(96, 96, 96);
  position: absolute;
  margin-top: 10%;
}

#about-para {
  font-size: 15px;
  font-family: "lato", sans-serif;
  font-weight: 300;
  line-height: 28px;
  color: rgb(102, 102, 102);
  width: 50%;
  position: absolute;
  margin-top: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#about-para p {
  text-align: center;
}
.hiring-button {
  height: 65px;
  width: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin-top: 24%;
}

#hire-me {
  font-size: 15px;
  text-decoration: none;
  border: 2px solid #000000;
  box-sizing: border-box;
  padding: 15px;
  border-radius: 30px;
  font-family: "lato", sans-serif;
  font-weight: 100;
  color: #fff;
  background-color: rgb(68, 68, 68);
}

#hire-me:hover {
  color: rgb(68, 68, 68);
  background-color: #fff;
  transition: all ease-in-out 0.4s;
}

#skills {
  width: 100%;
  height: 75vh;
  background-color: rgb(219, 219, 233);
  display: flex;
  justify-content: center;
}

#skills h3 {
  font-size: 80px;
  line-height: 46px;
  color: rgb(68, 68, 68);
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  opacity: 5.5%;
  margin-top: 65px;
}

#skills h2 {
  font-size: 40px;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  color: rgb(68, 68, 68);
  position: absolute;
  margin-top: 60px;
}

#ddc {
  /* border: 2px solid black; */
  box-sizing: border-box;
  width: 80%;
  height: 60vh;
  position: absolute;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#skills #ddc {
  transform: translateY(120px);
}

.grphic-dev-certificate {
  /* border: 2px solid blue; */
  box-sizing: border-box;
  width: 30%;
  height: 85%;
  text-align: center;
  display: flex;
  justify-content: left;
}

.grphic-dev-certificate #design {
  font-size: 25px;
  font-family: "lato", sans-serif;
  color: rgb(68, 68, 68);
}

.grphic-dev-certificate #development {
  font-size: 25px;
  font-family: "lato", sans-serif;
  color: rgb(68, 68, 68);
}

.grphic-dev-certificate #certifications {
  font-size: 25px;
  font-family: "lato", sans-serif;
  color: rgb(68, 68, 68);
}

.bussiness {
  font-size: 15px;
  color: rgb(153, 153, 153);
  font-family: "lato", sans-serif;
  font-weight: 100;
  position: absolute;
  margin-top: 65px;
  margin-left: 1px;
}

.bussiness span {
  margin-left: 8px;
}

#bar1 {
  height: 15px;
  width: 25%;
  border: 1px solid black;
  background-color: rgb(219, 219, 233);
  border-radius: 4px;
  position: absolute;
  margin-top: 7.5%;
}

#bar1 div {
  background-color: grey;
  height: 100%;
  width: 90%;
}

.logo-design {
  font-size: 15px;
  color: rgb(153, 153, 153);
  font-family: "lato", sans-serif;
  font-weight: 100;
  position: absolute;
  margin-top: 130px;
  margin-left: 1px;
}

.logo-design span {
  margin-left: 8px;
}

#bar2 {
  height: 15px;
  width: 25%;
  border: 1px solid black;
  background-color: rgb(219, 219, 233);
  border-radius: 4px;
  position: absolute;
  margin-top: 13%;
}

#bar2 div {
  background-color: grey;
  height: 100%;
  width: 85%;
}

.psd-development {
  font-size: 15px;
  color: rgb(153, 153, 153);
  font-family: "lato", sans-serif;
  font-weight: 100;
  position: absolute;
  margin-top: 195px;
  margin-left: 1px;
}

.psd-development span {
  margin-left: 8px;
}

#bar3 {
  height: 15px;
  width: 25%;
  border: 1px solid black;
  background-color: rgb(219, 219, 233);
  border-radius: 4px;
  position: absolute;
  margin-top: 18.5%;
}

#bar3 div {
  background-color: grey;
  height: 100%;
  width: 81%;
}

.figma {
  font-size: 15px;
  color: rgb(153, 153, 153);
  font-family: "lato", sans-serif;
  font-weight: 100;
  position: absolute;
  margin-top: 260px;
  margin-left: 1px;
}

.figma span {
  margin-left: 8px;
}

#bar4 {
  height: 15px;
  width: 25%;
  border: 1px solid black;
  background-color: rgb(219, 219, 233);
  border-radius: 4px;
  position: absolute;
  margin-top: 24%;
}

#bar4 div {
  background-color: grey;
  height: 100%;
  width: 81%;
}

.html {
  font-size: 15px;
  color: rgb(153, 153, 153);
  font-family: "lato", sans-serif;
  font-weight: 100;
  position: absolute;
  margin-top: 65px;
  margin-left: 1px;
}

.html span {
  margin-left: 8px;
}

#bar5 {
  height: 15px;
  width: 25%;
  border: 1px solid black;
  background-color: rgb(219, 219, 233);
  border-radius: 4px;
  position: absolute;
  margin-top: 7.5%;
}

#bar5 div {
  background-color: grey;
  height: 100%;
  width: 90%;
}

.css {
  font-size: 15px;
  color: rgb(153, 153, 153);
  font-family: "lato", sans-serif;
  font-weight: 100;
  position: absolute;
  margin-top: 130px;
  margin-left: 1px;
}

.css span {
  margin-left: 8px;
}

#bar6 {
  height: 15px;
  width: 25%;
  border: 1px solid black;
  background-color: rgb(219, 219, 233);
  border-radius: 4px;
  position: absolute;
  margin-top: 13%;
}

#bar6 div {
  background-color: grey;
  height: 100%;
  width: 90%;
}

.javascript {
  font-size: 15px;
  color: rgb(153, 153, 153);
  font-family: "lato", sans-serif;
  font-weight: 100;
  position: absolute;
  margin-top: 195px;
  margin-left: 1px;
}

.javascript span {
  margin-left: 8px;
}

#bar7 {
  height: 15px;
  width: 25%;
  border: 1px solid black;
  background-color: rgb(219, 219, 233);
  border-radius: 4px;
  position: absolute;
  margin-top: 18.5%;
}

#bar7 div {
  background-color: grey;
  height: 100%;
  width: 81%;
}

.java {
  font-size: 15px;
  color: rgb(153, 153, 153);
  font-family: "lato", sans-serif;
  font-weight: 100;
  position: absolute;
  margin-top: 260px;
  margin-left: 1px;
}

.java span {
  margin-left: 8px;
}

#bar8 {
  height: 15px;
  width: 25%;
  border: 1px solid black;
  background-color: rgb(219, 219, 233);
  border-radius: 4px;
  position: absolute;
  margin-top: 24%;
}

#bar8 div {
  background-color: grey;
  height: 100%;
  width: 65%;
}

.photoshop {
  font-size: 15px;
  color: rgb(153, 153, 153);
  font-family: "lato", sans-serif;
  font-weight: 100;
  position: absolute;
  margin-top: 65px;
  margin-left: 1px;
}

#bar9 {
  height: 15px;
  width: 25%;
  border: 1px solid black;
  background-color: rgb(219, 219, 233);
  border-radius: 4px;
  position: absolute;
  margin-top: 7.5%;
}

#bar9 div {
  background-color: grey;
  height: 100%;
  width: 100%;
}

.photoshop-linkedin {
  font-size: 15px;
  color: rgb(153, 153, 153);
  font-family: "lato", sans-serif;
  font-weight: 100;
  position: absolute;
  margin-top: 130px;
  margin-left: 1px;
}

#bar10 {
  height: 15px;
  width: 25%;
  border: 1px solid black;
  background-color: rgb(219, 219, 233);
  border-radius: 4px;
  position: absolute;
  margin-top: 13%;
}

#bar10 div {
  background-color: grey;
  height: 100%;
  width: 100%;
}

.software-development {
  font-size: 15px;
  color: rgb(153, 153, 153);
  font-family: "lato", sans-serif;
  font-weight: 100;
  position: absolute;
  margin-top: 195px;
  margin-left: 1px;
}

#bar11 {
  height: 15px;
  width: 25%;
  border: 1px solid black;
  background-color: rgb(219, 219, 233);
  border-radius: 4px;
  position: absolute;
  margin-top: 18.5%;
}

#bar11 div {
  background-color: grey;
  height: 100%;
  width: 100%;
}

.virtual-program {
  font-size: 15px;
  color: rgb(153, 153, 153);
  font-family: "lato", sans-serif;
  font-weight: 100;
  position: absolute;
  margin-top: 260px;
  margin-left: 1px;
}

#bar12 {
  height: 15px;
  width: 25%;
  border: 1px solid black;
  background-color: rgb(219, 219, 233);
  border-radius: 4px;
  position: absolute;
  margin-top: 24%;
}

#bar12 div {
  background-color: grey;
  height: 100%;
  width: 100%;
}

#education {
  background-color: #d2cdd9;
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
}

#education h3 {
  font-size: 80px;
  line-height: 46px;
  color: rgb(68, 68, 68);
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  opacity: 5.5%;
  margin-top: 65px;
}

#education h2 {
  font-size: 40px;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  color: rgb(68, 68, 68);
  position: absolute;
  margin-top: 60px;
}

#education-details {
  /* border: 1px solid black; */
  height: 73%;
  width: 75%;
  position: absolute;
  margin-top: 135px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  column-gap: 40px;
}

.degrees {
  border: 1px solid black;
  border-left: 3px solid black;
  height: 41%;
  width: 45%;
}

#education .degrees h3 {
  color: #000000;
  font-size: 23px;
  font-weight: 700;
  opacity: 100%;
  margin-top: 0;
  margin-left: 10px;
}

.time-frame {
  font-size: 15px;
  font-weight: lighter;
  line-height: 26px;
  opacity: 95%;
  margin-left: 10px;
  margin-top: 10px;
  font-family: "Montserrat", sans-serif;
}

.degree-description {
  margin-left: 10px;
  font-size: 15px;
  font-family: "lato", sans-serif;
  color: #444444;
  margin-top: 15px;
}

.degree-college {
  margin-left: 10px;
  font-size: 15px;
  font-family: "lato", sans-serif;
  color: #444444;
  margin-top: 20px;
}
